.Button{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #000;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: 14px;
    margin-top: 15px;
    width: 100%;
}
.Button:focus{
    outline: none
}
.Button:active{
    box-shadow: inset 2px 2px 1px rgba(0,0,0,0.3);
}
.Button:disabled{
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}
.error{
    background: rgb(250, 29, 29);
}
.success{
    background: rgb(223, 208, 74);
}
.primary{
    background: #2884f6;
    color: #fff;
}
/* 6_14*/